---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<h1>Mi sitio Astro</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis sit, nisi officia laborum enim impedit sed quos aut odit deleniti quaerat iure cupiditate error eveniet ab nam quidem dolores ullam fugiat consectetur expedita inventore quae eligendi exercitationem? Qui minus quia sit, ab unde dolorum, labore accusamus omnis repudiandae aperiam possimus accusantium quod debitis itaque tempore velit sunt assumenda. Doloremque, consectetur vitae facilis repudiandae quisquam ipsa nostrum blanditiis voluptatem autem totam repellendus vel doloribus perferendis nam saepe hic culpa officia possimus necessitatibus. Cumque perspiciatis animi temporibus, magni, similique doloribus eveniet autem ex eius officiis, culpa omnis corrupti fuga? Doloribus similique deleniti a, quo officiis sint repellendus. Natus ducimus voluptate itaque provident vel ea! Placeat laudantium repudiandae officiis exercitationem amet magnam doloremque. Magnam dolorum a sed est molestias adipisci beatae minus, laboriosam facere ut hic? Dolore id atque nesciunt cupiditate distinctio nulla, harum consectetur sequi recusandae! Cupiditate repellat voluptatum, quaerat explicabo fugiat magni necessitatibus labore quod! Similique, aperiam. Quasi unde iure nihil pariatur corrupti expedita aut ab eos, veritatis et est inventore voluptatem quam deleniti animi dolores quos exercitationem voluptate cumque dolor! Ratione aperiam iste possimus, magnam dolor dolores veritatis molestias architecto aliquid exercitationem, magni provident, est asperiores quia in excepturi blanditiis maiores! Nemo quaerat deleniti sint sequi beatae saepe tempore possimus laborum nisi nihil quasi placeat amet ab perspiciatis maiores suscipit quae, culpa veritatis eaque architecto nostrum tempora, magnam sed! Nihil sunt, autem quas vel veritatis error itaque ratione? Necessitatibus voluptatibus esse voluptates reprehenderit culpa exercitationem praesentium quia ipsam ab quaerat!</p>
	</body>
</html>
